#header-container{
    background-color: #f8dbc2;
    height: 700px;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* Add this to your style.css */
.btn-primary {
    background-color: #51829B;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    border: none;
    font-family: 'Poppins', sans-serif; /* Add your specific font family here */

}

.btn-primary:hover {
    background-color: #3c6c79; /* Slightly darker shade */
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif; /* Add your specific font family here */

}


h1{
    font-family: 'Montserrat', sans-serif;
    color: #51829B;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #51829B;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.custom-hr{
    border-color: #f8dbc2;
}
.resume-btn-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}
.resume-btn-container .btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #F6995C;
    border: none;
}
a:hover {
    text-decoration: underline;
    color: #51829B;
}
/* Buttons */
button {
    background-color: #51829B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #3A5A6D;
}

/* Links */
a {
    color: #51829B;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3A5A6D;
    text-decoration: underline;
}
/* Fade-in animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply this class to any section or element */
.section {
    animation-delay: 0.3s;
}
h1, h2, h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
/* Image Hover Effect */
.projects {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
